.centerButton {
    display: flex;
    justify-content: center;
}

.centerInput {
    justify-content: center;
}

.floatButton {
    float: right;
}

.gridPadding {
    padding: 0;
}

.inputBorder {
    border: none;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.paddingLeftTodo {
    padding-left: 10px;
}

.paddingRightDelete {
    padding-right: 10px;
}

.subMaxWidth {
    width: 70%;
}

.gridCenter {
    --ion-grid-width: 40%;
    --ion-grid-width-md: 60%;
    --ion-grid-width-sm: 80%;
    --ion-grid-width-xs: 100%;
    padding-top: 10%;
}

.alignCenter {
    justify-content: space-around;
}

.alignCenter .floatButton {
    width: 20%;
}